@font-face {
    font-family: Circular Light;
    src: url(fonts/circular/CircularStd-Light.otf);
  }
  @font-face {
    font-family: Circular Medium;
    src: url(fonts/circular/CircularStd-Medium.otf);
  }
  @font-face {
    font-family: Circular Bold;
    src: url(fonts/circular/CircularStd-Bold.otf);
  }
  
  :root {
    --green: #1ed760;
    --blue: #2941ab;
    --purple: #993399;
    --gray: #121212;
    --light-gray: #222326;
  
    --light-font: Circular Light, sans-serif;
    --medium-font: Circular Medium, sans-serif;
    --bold-font: Circular Bold, sans-serif;
  }
  
  /* standard values */
  
  ::-moz-selection {
      background: var(--green);
      color: var(--gray);
  }
  
  ::selection {
      background: var(--green);
      color: var(--gray);
  }
  
  h1, h2, h3 {
      line-height: 80px;
  }
  
  p, span {
      line-height: 30px;
  }
  hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
  }

/* menu */

#logo {
  width: 60px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 5px 70px;
  background: #000000;
  color: #ffffff;
}

#nav {
  display: flex;
  align-items: center;
}

#menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.nav-item {
  text-decoration: none;
  list-style: none;
  transition: .4s;
}

.nav-item a {
  font: bold 1.1em var(--light-font);
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  transition: .4s;
}

.nav-item a:hover {
  color: var(--green);
}

.mobile-item {
  display: none;
}

#btn-mobile {
  display: none;
}

.login-bar ul {
  display: flex;
  margin-left: -40px;
}

.login {
  all: unset;
  display: none;
}
.logon {
  display: none;
}

@media (max-width: 600px) {
  header {
    padding: 0 30px;
    height: 90px;
    position: sticky;
    top: 0;
  }
  #logo {
      width: 50px;
  }    
  #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 63px;
      right: 0px;
      background: linear-gradient( 20deg, #030f14, #131313);
      border-radius: 5px;
      transition: .6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
  }
  #nav.active #menu {
      height: calc(100vh - 40vh);
      visibility: visible;
      overflow-y: auto;
      padding-top: 30px;
  }
  .nav-item {
    margin: 20px 0;
    font: bold 1.3em var(--light-font);
    transition: .4s;
  }
  .nav-item:hover {
    color: var(--green);
    transform: translateX(5px);
    background: none;
}
  .nav-item a {
      margin: 30px 25px;
      border-bottom: 2px solid rgba(46, 46, 46, 0.1);
      border-radius: 5px;
      transition: .3s;
  }
  .nav-bar {
    display: none;
  }
  #btn-mobile {
      color: #ffffff;
      display: flex;
      padding: 10px 20px;
      font-size: 18px;
      border: none;
      background: none;
      cursor: pointer;
      gap: 10px;
  }
  #btn-mobile:hover {
    color: var(--green);
  }
  #btn-mobile:active {
    color: var(--green);
  }
  #hamburguer {
      color: var(--color5);
      display: block;
      border-top: 2px solid;
      width: 20px;
  }
  #hamburguer::after, #hamburguer::before {
      content: '';
      position: relative;
      display: block;
      width: 20px;
      height: 2px;
      border-radius: 10px;
      background-color: currentColor;
      margin-top: 5px;
      transition: .3s;
  }
  #menu .nav-item::after {    
      all: unset;
  }
  
  #menu .nav-item:hover::after { 
      all: unset; 
    }
  #nav.active #hamburguer {
      border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
      transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
      transform: rotate(-135deg);
      top: -7px;
  }
  #menu a:hover::after { 
      width: 28%; 
      left: 0;
    }    
    .login-bar {
      display: none;
    }
    .logon {
      all: unset;
      display: block;
      margin: 7px 25px;
      padding: 10px;
      border-radius: 3px;
      border-top: 3px solid var(--green);
      font: bold 1.4em var(--light-font);
      color: #ffffff;
      transition: .4s;
    }
    .logon:hover {
      background: var(--green);
    }
    .logon a {
      color: #ffffff;
      text-decoration: none;
      transition: .1s;
      padding: 5px;
      border-radius: 0 10px 0 10px;
    }
    .login {
      all: unset;
      display: block;
      margin: 10px 25px;
      padding: 10px;
      border-radius: 3px;
      font: bold 1.4em var(--light-font);
      color: #ffffff;
      transition: .4s;
    }
    .login:hover {
      background: var(--green);
    }
    .login a {
      color: #ffffff;
      text-decoration: none;
      transition: .1s;
      padding: 5px;
      border-radius: 0 10px 0 10px;
    }
  }

  /* sp paid */
  
  #sp-paid {
     display: -ms-grid;
     display: grid;
     height: 450px;
     -ms-grid-columns: 3fr 1fr;
     grid-template-columns: 3fr 1fr;
     padding: 60px 80px 100px 80px;
     margin: 0;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     background: var(--blue) url(images/bg-sp-image.webp) no-repeat;
     background-size: 100%;
     font: 1.3em var(--medium-font);
  }
  
  .sp-paid-text {
    font-size: 0.7em;
    text-transform: uppercase;
  }
  
  #sp-paid h1 {
    font-size: 2.7em;
    width: 550px;
    letter-spacing: 2px;
    margin: 35px 0;
  }
  
  .sp-paid-desc-text {
    width: 600px;
  }
  
  .sp-paid-btn {
    all: unset;
    margin: 10px 0;
    padding: 17px 30px;
    background: #000000;  
    color: #fff;
    border-radius: 50px;
    font-size: .7em;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }
  
  .sp-paid-btn a {
    all: unset;
  }
  
  .sp-paid-btn:hover {
      -webkit-transform: scale(105%);
          -ms-transform: scale(105%);
              transform: scale(105%);
  }
  
  .sp-paid-info-text {
      font: .6em var(--light-font);
      width: 600px;
  }
  
  .sp-paid-info-text a {
      color: inherit;
  }
  
  .sp-paid-image {
      border-radius: 5px;
  }
  
  @media (max-width: 600px) {
      #sp-paid {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          padding: 50px 80px;
          background-size: cover;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font: 1.3em var(--medium-font);
        }
      #sp-paid h1 {
          font-size: 1.5em;
          width: auto;
          line-height: 50px;
      }
      .sp-paid-desc-text {
          width: 400px;
      }
      .sp-paid-info-text {
          width: 400px;
      }
      .sp-paid-div2 {
          display: none;
      }
  }
  
  /* sp free */
  
  #sp-free {
      display: -ms-grid;
      display: grid;
      height: 450px;
      -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
      padding: 50px 80px;
      margin: 0;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: var(--blue) url(icons/icons.svg) no-repeat;
      background-size: 100%;
      font: 1.3em var(--medium-font);
      color: var(--green);
    }
    
    .sp-free-text {
      font-size: 0.7em;
      text-transform: uppercase;
    }
    
    #sp-free h1 {
      font-size: 2.9em;
      letter-spacing: 2px;
      margin: 35px 0;
    }
    
    .sp-free-desc-text {
      width: 600px;
    }
    
    .sp-free-btn {
      all: unset;
      margin: 10px 0;
      padding: 17px 30px;
      background: var(--green);
      border-radius: 50px;
      font-size: .7em;
      text-transform: uppercase;
      cursor: pointer;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      color: var(--blue);
    }
    
    .sp-free-btn a {
      all: unset;
    }
    
    .sp-free-btn:hover {
        -webkit-transform: scale(105%);
            -ms-transform: scale(105%);
                transform: scale(105%);
    }
    
    @media (max-width: 600px) {
        #sp-free {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 50px 80px;
            background: var(--blue) url(icons/icons2.svg);
            background-size: 140%;
            text-align: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            font: 1.3em var(--medium-font);
        }
        #sp-free h1 {
            font-size: 1.5em;
            line-height: 60px;
        }
        .sp-free-desc-text {
            width: 400px;
        }
  }

  /* login */

  #login-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    font: normal 1.3em var(--light-font);
  }

  .social-login p {
    font: normal .7em var(--medium-font);
    text-align: center;
  }

  .social-btn {
    list-style: none;
    margin-right: 50px;
  }

  .social-btn a {
    all: unset;
  }

  .social-btn button {
    all: unset;
    text-align: center;
    padding: 15px 20px;
    margin: 7px 0;
    width: 400px;
    border-radius: 30px;
    font: normal .7em var(--medium-font);
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .social-btn button:hover {
    border: 1px solid var(--green);
  }

  .facebook button {    
    background: #3B5998;
    color: #ffffff;
    border: 1px solid #3B5998;
  }

  .apple button {
    background: #191919;
    color: #ffffff;
    border: 1px solid #191919;
  }

  .google button {
    background: transparent;
    color: #717171;
    border: 1px solid #919191;
  }

  .phone button {
    background: transparent;
    color: #717171;
    border: 1px solid #919191;
  }

  .text-divisor {
    display: flex;
    flex-direction: row;
    align-self: center;
    text-align: center;
    line-height: 1px;
    margin: 10px 0;
    font: 700 .7em var(--light-font);
    background: #ffffff;
    text-transform: uppercase;
  }

  #contact {
    max-width: 450px;
    width: 100%;
    margin-top: 10px;
  }

  #contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #contact label {
    font: bold .7em var(--bold-font);
  }

  .field {
    font: normal 1em var(--light-font);
    padding: 7px 5px;
    border: 1px solid #919191;
    outline: none;
    border-radius: 5px;
    transition: .4s;
  }

  .field:focus {
    border: 1px solid var(--green);
  }

  #remember {
    margin: 50px;
  }

  #remember:after {
    content: "Lembrar";
    margin-left: 17px;
  }

  .enter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 20px;
    height: 200%;
    margin: 0;
  }

  .btn-submit {
    all: unset;
    text-align: center;
    background: var(--green);
    padding: 15px 10px;
    width: 150px;
    text-transform: uppercase;
    border-radius: 30px;
    font: bold .7em var(--medium-font);
    cursor: pointer;
  }

  @media (max-width: 600px) {
    #contact {
      max-width: 400px;
    }
    .social-login {
      display: flex;
      flex-direction: column;
      margin: 0;
      align-items: center;
      justify-content: center;
    }
    .social-btn {
      margin: 0;
    }
    .social-btn button {
      width: 350px;
    }
  }
  /* footer */

  footer {
      display: -ms-grid;
      display: grid;
      padding: 60px 100px;
      background: #000000;
      -ms-grid-columns: (1fr);
      grid-template-columns: repeat(5, 1fr);
      font: 1em var(--light-font);
  }
  
  .footer-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 20px;
  }
  
  .footer-list-title {
      color: #717171;
      list-style: none;
      font-family: var(--medium-font);
      margin-bottom: 10px;
  }
  
  .footer-list-item {
    color: #fff;
      list-style: none;
      transition: .4s;
      cursor: pointer;
  }

  .footer-list-item:hover {
    color: var(--green);
    transform: scale(102%);
  }
  
  .footer-icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 30px;
      gap: 15px;
  }
  
  .footer-icon {
      background: #717171;
      padding: 15px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      transition: .4s;
  }

  .footer-icon:hover {
    background: var(--green);
    transform: rotate(20deg) scale(110%);
  }

  @media (max-width: 600px) {
      footer {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
      }
  }
  
  /* scroll */
  
  ::-webkit-scrollbar {
      background: var(--gray);
      width: 8px;
  }
  
  ::-webkit-scrollbar-button {
      background: #000000;
  }
  
  ::-webkit-scrollbar-thumb {
      background: var(--green);
      border-radius: 4px;
  }