@font-face { font-family: Circular Light; src: url(fonts/circular/CircularStd-Light.otf); } 
@font-face { font-family: Circular Medium; src: url(fonts/circular/CircularStd-Medium.otf); } 
@font-face { font-family: Circular Bold; src: url(fonts/circular/CircularStd-Bold.otf); } 

:root {
    --green: #1ED760;
    --blue: #2941AB;
    --purple: #993399;
    --gray: #121212;
    --light-gray: #222326;

    --light-font: Circular Light, sans-serif;
    --medium-font: Circular Medium, sans-serif;
    --bold-font: Circular Bold, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    color: #ffffff;
}

header {
    padding: 20px 90px 20px 80px;
    background: #000000;
    height: 50px;
    font: 1em var(--bold-font);
    color: #ffffff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 132px;
    height: 42px;
    color: #fff;
    transition: .2s;
}

.logo:hover {
    content: url(images/logo-hv.png);
    width: 137px;
    height: 47px;
}

nav ul {
    display: flex;
    gap: 30px;

}

.nav-item {
    list-style: none;
}

.nav-item a {
    all: unset;
    cursor: pointer;
    transition: .2s;
}

.nav-item a:hover {
    color: var(--green);
}

/* first section */

#free-month {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 70px 70px;
    align-items: center;
    background: var(--purple);
    font: 1.3em var(--medium-font);
}

.sp-text {
    font-size: .9em;
}

#free-month h1 {
    font-size: 3.5em;
    letter-spacing: 2px;
}

.sp-desc-text {
    font-size: ;
}

.free-month-btn {
    all: unset;
    padding: 13px;
    background: #000000;
    border-radius: 20px;
}

.free-month-btn a {
    all: unset;
}